# ==========================================
# Gitignore pour dosmines 
# ==========================================

build/*
BORLANDC/
PROJECT/*.dsk

*.obj

# --- Exécutables finaux ---
DOSMINES.EXE
LOG.TXT

# --- Fichiers Système ---
.DS_Store
Thumbs.db